<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css" type="text/css" />
    </head>
    <body>
        <section class="wrapper">
            <header class="header">
                <div class="header__caption">Авторизация</div>
            </header>
            <main class="main">
                <div class="inputWrapper">
                    <label for="email" class="label label_email">Email</label>
                    <input class="input input_email" type="email" placeholder="" id="email">
                </div>
                <div class="inputWrapper">
                    <label for="password" class="label label_password">Пароль</label>
                    <input type="text" class="input input_text" placeholder="" id="password">
                </div>
                <button class="button">Войти</button>
            </main>
            <footer class="footer">
                <a href="#" class="link link_registration">Регистрация</a>
                <a href="#" class="link link_forget">Забыли пароль?</a>
            </footer>
        </section>
        <script src="./js/main.js"></script>
    </body>
</html>